.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-left: 104px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px 45px;
}
.cart {
  background-color: rgba(255, 153, 0, 0.3);
}

.cart-title {
  font-size: 25px;
}
